.App {
  text-align: center;
  font-family: 'sans-serif';
}
.menuItems{
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-around;
  font-family: 'unbounded';
}
p{
  color: white;
  height: 4vh;
  width: 10vw;
  border-radius: 15px;
}
.pbox{
  border: solid black;
  width: 45vw;
  height: 60vh;
  margin-left: 350px;
}
#p1{
  border: solid purple;
  color: red ;
  text-align: center;
}
#about{
  color: black;
  font-family: 'oswald';
}
.aboutbox{
  border-bottom: solid black;
  border-width: .1em;
  height: 60vh;
  margin: 10px;
  width: 55vw;
  margin-left: 300px;
}
.aboutp1{
  color: black;
  font-size: 55px;
  font-family: 'vt323';
}
.aboutp2{
  color: black;
  font-size: 20px;
  font-family: 'dm sans';
  margin-top: 20px;
}
.aboutp3{
  margin-top: 30px;
  color: black;
  font-size: 20px;
  font-family: 'inter tight';
}
.aboutp4{
  margin-top: 50px;
  color: black;
  font-size: 20px;
  font-family: 'unbounded';
}
#community{
  color: black;
  font-family: "rock 3d";
  font-size: 100px;
}
.boondocks{
  width: 35vw;
  margin-left: 420px;
  margin-top: 50px;
  height: 40vh;
  border: solid black;
  border-width: .1em;
}
#boondocks{
  height: 100%;
  width: 100%;
}
.title{
  color: black;
  font-family: "unbounded";
  font-size: 100px;
}

.homebox{
  height: auto;
}
.name{
  width: 35vw;
  font-size: 55px;
  font-weight: bold;
  height: auto;
  font-family: 'unbounded';
}
.creative{
  font-size: 55px;
  width: 35vw;
}
.engineer{
  font-size: 55px;
  width: 35vw;
}
.human{
  font-size: 55px;
  width: 35vw;
  color: red;
}
.marq{
  color: red;
  font-weight: bold;
  font-size: 18px;
  height: 5vh
}
.scroll{
  height: 100%;
  width: 100%;
}
.skills{
  height: 15vh;
  margin-top: 150px;
}
.skillpic{
  height: 100%;
}
.school{
  height: 8vh;
}
.schoolpic{
  height: 100%;
}
.infobox{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  width: 25%;
  height: auto;
}
.instagram{
  color: orangered;
  font-size: 20px;
  font-family: 'vt323';
}
.email{
  font-size: 20px;
  color: blue;
  font-family: 'vt323';
}
.bigbox{
  margin-top: 120px;
  height: 65vh;
}
.details{
  width: 40%;
}
.artbox{
  border: solid black;
  margin: 50px;
  height: auto;
}
.rowone{
  border: solid lime;
  display: flex;
  height: 70vh;
}
.r1left{
  border: solid orangered;
  width: 50%;
  height: auto;
}
.r1lbox{
  border: solid blue;
  display: flex;
  height: 70%;
}
.r1right{
  border-width: 5px;
  width: 40vw;
  margin: 5px;
  z-index: 2;
}
.r1rightbox{
  border: solid orangered;
  margin-top: 250px;
  height: 40vh;
  z-index: 1;
}
.rowtwo{
  border: solid blue;
  height: 50vh;
  display: flex;
}
.r2left{
  border: solid darkcyan;
  width: 35vw;
  margin-left: 75px;

}
.r2leftbox{
  border: solid fuchsia;
  height: 100vh;
}
.rowthree{
  border: solid lime;
  height: 50vh;
  display: flex;
}
#one{
  width: 50%;
  margin: 5px;
}
#two{
  width: 50%;
  margin: 5px;
}
#picone{
  height: 100%;
  width: 100%;
  background-color: gray;
}
#pictwo{
  height: 100%;
  width: 100%;
  background-color: gray;
}
#three{
  height: 38vh;
  margin: 5px;
}
#picthree{
  background-color: gray;
  width: 100%;
  height: 100%;
}
#four{
  border: solid red;
  height: 80%;
}
#picfour{
  background-color: gray;
  width: 100%;
  height: 100%;
}
#done{
  border: solid red;
  height: 15%;
}
#dtwo{
  border: solid green;
  height: 15%;
}
#dthree{
  border: solid maroon;
  height: 12%;
}
#gitone{
  border: solid purple;
  height: 3vh;
}
#gittwo{
  border: solid pink;
  height: 3vh;
}
#gitthree{
  border: solid chocolate;
  height: 3vh;
}