.App {
  text-align: center;
  font-family: 'sans-serif';
}
.menuItems{
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-around;
  font-family: 'inter tight';
}
.homebox{
  display: flex;
}
.homeright{
  width: 20vw;
}
.chaosbox{
  width: 60vw;
  height: 72vh;
}
.chaos{
  height: 100%;
  width: 100%;
}
.dot{
  margin-top: 5px;
  border: solid red;
  background-color: red;
  height: 1px;
  width: 2px;
  border-radius: 100%;
}
.god{
  color: beige;
  font-size: 12px;
  margin-left: 5px;
  font-family: 'inter tight wght@200';

}
p{
  color: white;
  height: 4vh;
  width: 10vw;
  border-radius: 15px;
}
.pbox{
  border: solid black;
  width: 45vw;
  height: 60vh;
  margin-left: 350px;
}
#p1{
  border: solid purple;
  color: red ;
  text-align: center;
}
#about{
  color: black;
  font-family: 'oswald';
}
.aboutbox{
  border-bottom: solid black;
  border-width: .1em;
  height: 60vh;
  margin: 10px;
  width: 55vw;
  margin-left: 300px;
}
.aboutp1{
  color: black;
  font-size: 55px;
  font-family: 'vt323';
}
.aboutp2{
  color: black;
  font-size: 20px;
  font-family: 'dm sans';
  margin-top: 20px;
}
.aboutp3{
  margin-top: 30px;
  color: black;
  font-size: 20px;
  font-family: 'inter tight';
}
.aboutp4{
  margin-top: 50px;
  color: black;
  font-size: 20px;
  font-family: 'unbounded';
}
#community{
  color: black;
  font-family: "rock 3d";
  font-size: 100px;
}
.boondocks{
  width: 35vw;
  margin-left: 420px;
  margin-top: 50px;
  height: 40vh;
  border: solid black;
  border-width: .1em;
}
#boondocks{
  height: 100%;
  width: 100%;
}
#com1{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'inter tight';
}
#com2{
  color: red;
  font-family: 'contrail one';
  font-size: 30px;
}
#star1{
  margin-top: 20px;
  height: 3vh;
  width: 1.5vw;
  margin-left: 650px;
}
#star2{
  margin-top: 20px;
  height: 3vh;
  width: 1.5vw;
}
#star{
  height: 100%;
  width: 100%;
}
#pcom{
  color: red;
}
#pcom2{
  font-size: 20px;
  font-family: 'oswald';
}
.p4p{
  height: auto;
  width: 25vw;
  margin-top: 20px;
  margin-left: 500px;
  font-size: 20px;
  font-family: 'oswald';
}
.resources{
  font-family: 'rock 3d';
  font-size: 80px;
}
.title{
  height: auto;
  color: black;
  font-family: "gasoek one";
  font-size: 65px;
}
#contact{
  font-family: 'gruppo';
  font-size: 100px;
}
.discordbox{
  height: 8vh;
  width: 16vw;
  margin-left: 550px;
  margin-top: 80px;
}
#discordbox{
  border: solid black;
  height: 50vh;
  width: 55vw;
  margin-left: 300px;
}
#discord{
  height: 100%;
  width: 100%;
}
#discord1{
  width: 35vw;
  margin-left: 450px;
  font-family: 'inter tight';
}
#discord2{
  font-family: 'vt323';
  font-size: 20px;
  color: red;
}
.discord{
  margin-top: 50px;
  font-family: 'gasoek one';
  font-size: 30px;
  color: #5865f2;
}
.gmail{
  margin-top: 50px;
  font-family: 'gasoek one';
  font-size: 30px;
  color: lightseagreen;
}
#gmail1{
  font-family: 'inter tight';
  width: 35vw;
  margin-left: 440px;
}
#gmail2{
  font-family: 'vt323';
  color: red;
  font-size: 20px;
}
.insta{
  margin-top: 50px;
  font-family: 'gasoek one';
  font-size: 30px;
  color: rgb(255, 103, 15);
}
#insta1{
  font-family: 'inter tight';
  width: 35vw;
  margin-left: 440px;
}
#insta2{
  color: red;
  font-family: 'vt323';
  font-size: 20px;
}
.homebox{
  height: auto;
}
.name{
  width: 35vw;
  font-size: 55px;
  font-weight: bold;
  height: auto;
  font-family: 'unbounded';
}
.creative{
  font-size: 55px;
  width: 35vw;
}
.engineer{
  font-size: 55px;
  width: 35vw;
}
.human{
  font-size: 55px;
  width: 35vw;
  color: red;
}
.resourcebox{
  border: solid lime;
}
#resource{
  height: 100%;
  width: 100%;
}
#resource1,
#resource2{
  height: 40vh;
  width: 15vw;
  margin-top: 50px;
  margin-left: 550px;
}
.responsibility{
  margin-top: 50px;
  height: 30vh;
  width: 25vw;
  margin-left: 480px;
}
#responsibility{
  height: 100%;
  width: 100%;
}
.more{
  border-width: .1em;
  margin-left: 550px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: red;
  font-size: 20px;
  width: 14vw;
  font-family: 'vt323';
}
.marq{
  color: red;
  font-weight: bold;
  font-size: 18px;
  height: 5vh
}
.scroll{
  height: 100%;
  width: 100%;
}
.skills{
  height: 10vh;
}
.skillpic{
  height: 100%;
}
.school{
  margin-top: 200px;
  height: 8vh;
}
.schoolpic{
  height: 100%;
}
.infobox{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  width: 25%;
  height: auto;
}
.instagram{
  margin-top: 10px;
  color: black;
  font-size: 15px;
  font-family: 'bebas neue';
}
.email{
  font-size: 15px;
  color: black;
  font-family: 'bebas neue';
}
.logo{
  border: solid brown;
  height: 8vh;
  animation: circle;
  animation-duration: 5s;
}
@keyframes circle{
  100%{transform: rotateZ(360deg)
}
}
#logo{
  height: 100%;
}
.bigbox{
  margin-top: 120px;
  height: 65vh;
}
.details{
  width: 40%;
}
.artbox{
  border: solid black;
  margin: 50px;
  height: auto;
}
.rowone{
  border: solid lime;
  display: flex;
  height: 70vh;
}
.r1left{
  border: solid orangered;
  width: 50%;
  height: auto;
}
.r1lbox{
  border: solid blue;
  display: flex;
  height: 70%;
}
.r1right{
  border-width: 5px;
  width: 40vw;
  margin: 5px;
  z-index: 2;
}
.r1rightbox{
  border: solid orangered;
  margin-top: 250px;
  height: 40vh;
  z-index: 1;
}
.rowtwo{
  border: solid blue;
  height: 50vh;
  display: flex;
}
.r2left{
  border: solid darkcyan;
  width: 35vw;
  margin-left: 75px;

}
.r2leftbox{
  border: solid fuchsia;
  height: 100vh;
}
.rowthree{
  border: solid lime;
  height: 50vh;
  display: flex;
}
#one{
  width: 50%;
  margin: 5px;
}
#two{
  width: 50%;
  margin: 5px;
}
#picone{
  height: 100%;
  width: 100%;
  background-color: gray;
}
#pictwo{
  height: 100%;
  width: 100%;
  background-color: gray;
}
#three{
  height: 38vh;
  margin: 5px;
}
#picthree{
  background-color: gray;
  width: 100%;
  height: 100%;
}
#four{
  border: solid red;
  height: 80%;
}
#picfour{
  background-color: gray;
  width: 100%;
  height: 100%;
}
#done{
  border: solid red;
  height: 15%;
}
#dtwo{
  border: solid green;
  height: 15%;
}
#dthree{
  border: solid maroon;
  height: 12%;
}
#gitone{
  border: solid purple;
  height: 3vh;
}
#gittwo{
  border: solid pink;
  height: 3vh;
}
#gitthree{
  border: solid chocolate;
  height: 3vh;
}