.App {
  text-align: center;
  font-family: 'sans-serif';
}
.menuItems{
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-around;
  font-family: 'unbounded';
}

p{
  color: white;
  height: 4vh;
  width: 10vw;
  border-radius: 15px;

}
.title{
  color: black;
  font-family: "unbounded";
  font-size: 100px;
}
.homebox{
  height: auto;
}
.name{
  margin-top: 120px;
  width: 35vw;
  font-size: 55px;
  font-weight: bold;
  height: auto;
  font-family: 'unbounded';
}
.creative{
  font-size: 55px;
  width: 35vw;
}
.engineer{
  font-size: 55px;
  width: 35vw;
}
.human{
  font-size: 55px;
  width: 35vw;
  color: red;
}
.marq{
  border: solid purple;
  color: red;
  font-size: 18px;
  height: 5vh
}
.scroll{
  height: 100%;
  width: 100%;
}
.skills{
  height: 15vh;
  margin-top: 150px;
}
.skillpic{
  height: 100%;
}
.school{
  height: 8vh;
}
.schoolpic{
  height: 100%;
}
.infobox{
  border: solid blue;
  height: 10vh;
}
.left{
  border: solid black;
  width: 25%;
  height: auto;
}
.instagram{
  color: orangered;
  font-size: 20px;
  font-family: 'vt323';
}
.email{
  color: blue;
  font-size: 20px;
  font-family: 'vt323';
}